:root{
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-brand: #2196f3;
    --color-background: #2f303a;
    --color-pouring: #f5f4fA;
    --color-text-light: #fff;
    --color-logo: #000;
    --color-img:#afb1b8;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-trasform: 250ms;
}

body{
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,   h2,   h3,   h4,   h5,   h6,   p {    margin: 0;   }

img{
    display: block;
}

.section{
    padding: 94px  0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.list{
    list-style: none;
}


/* header*/


.header{
    border-bottom: 1px solid rgba(236, 236, 236, 1)
}

.header-container{
    display: flex;
    align-items: center;
}

.nav-header{   
    display: flex;
    align-items: center;
}

.link-logo{
    font-family: 'Raleway', sans-serif;
    color: var(--color-logo);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-navigation{
    display: flex;
    margin-left: 93px;
}

.navigation-item{
    position: relative;
}

.navigation-item:not(:last-child){
    margin-right: 50px;
}

.contacts-item:not(:last-child){
    margin-right: 50px;
}

.navigation-link.current{
    color: var(--color-brand);
}

.current::after{
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background: #2196F3;
    border: 1px solid var(--color-brand);
    border-radius: 2px;
    bottom: 0;
    left: 0;
}

.navigation-link{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 32px 0;
    transition: color var(--time-trasform) var(--timing-function);
}

.navigation-link:hover,.navigation-link:focus{
    color: var(--color-brand);
}

.contacts{
    display: flex;
    margin-left: auto;
}

.contacts-link{
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 32px 0;
    transition: color var(--time-trasform) var(--timing-function);
}

.contacts-link:hover, .contacts-link:focus{
    color: var(--color-brand);
}

.contacts-icon{
    fill: currentColor;
    margin-right: 10px;
}



/* ==WebStudio== */



/* hero-section */


.hero{
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-color: var(--color-background);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
       url(../images/background-image.jpg);
    margin: 0 auto;
}


.hero-title{
    width: 696px;
    margin: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-text-light);
    text-align: center;
}

.primery-button{
    width: 216px;
    min-height: 50px;
    border-radius: 4px;
    margin: 0  auto;
    margin-top: 30px;
    display: block;
    font-family: inherit;
    border: 0;
    background-color:var(--color-brand);
    color: var(--color-text-light);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-weight: 700;
}


/* benefits-section */


.benefits-section{
    padding-top: 94px;
}

.benefits-list{
    display: flex;
}

.benefits-item{
    width: 270px;
}

.benefits-item:not(:last-child){
    margin-right: 30px;
}

.benefits-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: var(--color-pouring);
}

.benefits-title{
    margin: 0  0 10px  0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.benefits-text{ 
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}


/* activity-section */


.activity{
    padding-top: 0;
}

.activity-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.activity-list{
    display: flex; 
}

.activity-item{
    position: relative;
}

.activity-item:not(:last-child){
    margin-right: 30px;
}

.activity-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--color-text-light);
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
}


/* team-section */


.team{
    margin: auto;
    background-color: var(--color-pouring)
}

.team-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list{
    display: flex;
}

.team-item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-text-light);
}

.team-item:not(:last-child){
    margin-right: 30px;
}

.team-wrapper{
    padding: 30px 0;
}

.name-title{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text{
    text-align: center;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.team-social-link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text-light);
    border-radius: 50%;
    color: var(--color-img);
    transition: color var(--time-trasform) var(--timing-function), background-color var(--time-trasform) var(--timing-function);
}

.team-social-link:hover, .team-social-link:focus{
    background-color: var(--color-brand);
    color: var(--color-text-light);
}

.team-social-icon{
    fill:currentColor;
}



/* clients */


.clients-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em; 
}

.clients-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-link{
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--color-img);
    color: var(--color-img);
    transition: color var(--time-trasform) var(--timing-function), border-color var(--time-trasform) var(--timing-function);
}

.clients-link:hover, .clients-link:focus{
    color: var(--color-brand);
    border-color:  var(--color-brand);
}

.clients-logo{
    fill: currentColor;
}


/* footer */


.footer{
    padding: 60px  0;
    background-color: var(--color-background);
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-link-logo{
    display: block;
    font-family: Raleway;
    color: var(--color-text-light);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-address{
    font-style: normal;
}

.accent{
    color: var(--color-brand);
}

.address-item:not(:last-child){
    margin-bottom: 9px;
}

.address-link{
    text-decoration: none;
    color: var(--color-text-light);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color var(--time-trasform) var(--timing-function);
}

.address-link:hover, .address-link:focus{
    color: var(--color-brand)
}

.footer-contacts-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time-trasform) var(--timing-function);
}

.footer-contacts-link:hover, .footer-contacts-link:focus{
    color: var(--color-brand)
}
 
.social-footer{
    margin-left: 70px;
}

.social-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-light);
}

.social-list-footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-link-footer{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--color-text-light);
    transition: background-color var(--time-trasform) var(--timing-function);
}

.social-link-footer:hover, .social-link-footer:focus{
    background-color: var(--color-brand)
}

.social-icon-footer{
    fill: currentColor;
}

.mail-send-footer{
    margin-left: auto;
}

.mail-send-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-light);
    margin-bottom: 20px;
}

.input-send{
    display: flex;
}

.input-send-mail{
    width: 358px;
    padding: 15px 16px;
    background-color: var(--color-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    color:var(--color-secondary);
}


.button-send{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    gap: 10px;
    cursor: pointer;
    margin-left: 12px;
    background-color: var(--color-brand);
    color: var(--color-text-light);
    fill: var(--color-text-light);
    transition: box-shadow var(--time-trasform) var(--timing-function);
}

.button-send:hover, .button-send:focus{
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* ==Portfolio== */



/* button */


.filter-btn{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.item-button:not(:last-child){
    margin-right: 10px;
}

.filter-button{
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-pouring);
    color: var(--color-primary);
    cursor: pointer;
    transition: background-color var(--time-trasform) var(--timing-function), color var(--time-trasform) var(--timing-function), box-shadow var(--time-trasform) var(--timing-function);
}

.filter-button:hover, .filter-button:focus{
    background-color: var(--color-brand);
    color: var(--color-text-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* project */


.project{
    display: flex;
    flex-wrap: wrap;
}

.project-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-item:nth-child(3n){
    margin-right: 0;
}

.project-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.project-link{
    text-decoration: none;
    display: block;
}

.project-link:hover, .project-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay,  .project-link:focus .project-overlay{
    transform: translateY(0%);
    opacity: 1;
}

.project-thumb{
    position: relative;
    overflow: hidden;
}

.project-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    opacity: 0;
    transition: transform  var(--time-trasform) var(--timing-function), opacity var(--time-trasform) var(--timing-function);
}

.project-description{
    display: block;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

.project-img{
   display: block; 
}

.project-blo—Å{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.project-title{
    margin-bottom: 4px;
    color: var(--color-primary);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text{
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


/* modal */


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms ease, visibility 300ms ease;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--color-text-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 40px;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: var(--color-secondary);
}

.form-modal{
    position: relative;
    margin-bottom: 10px;
}

.modal-lilte{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-primary);
    margin-bottom: 12px;
}

.form-input{
    height: 40px;
    width: 100%;
    padding: 11px 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    outline: none;
    transition: border-color var(--time-trasform) var(--timing-function);
}

.form-input:hover, .form-input:focus{
    border-color: var(--color-brand);
}

.form-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--time-trasform) var(--timing-function);
}

.form-input:hover + .form-icon, .form-input:focus + .form-icon{
    fill: var(--color-brand);
}

.form-coment{
    display: block;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    height: 138px;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    outline: none;
    resize: none;
    transition: border-color var(--time-trasform) var(--timing-function);
}

.form-coment::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.form-coment:hover, .form-coment:focus {
    border-color: var(--color-brand);
}   

.checkbox-input{
    appearance: none;
}

.checkbox-label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
    margin-top: 20px;
}

.agreement-link{
    margin-left: 4px;
    color: var(--color-brand);
    text-underline-position: under;
}

.check-icon{
    margin-right: 8px;
    fill: var(--color-text-light);
    border: 2px solid var(--color-logo);
    border-radius: 2px;
    transition: fill var(--time-trasform) var(--timing-function), background-color var(--time-trasform) var(--timing-function), border var(--time-trasform) var(--timing-function);
}

.checkbox-input:checked + .check-icon{
   fill: var(--color-text-light);
   background-color: var(--color-brand);
   border-color: transparent;
}

.button-modal{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 30px  auto 0 auto;
    background-color: var(--color-brand);
    color: var(--color-text-light);
    transition: box-shadow var(--time-trasform) var(--timing-function);
}

.button-modal:hover, .button-modaln:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.madal-close-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-text-light);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%; 
    top: 8px;
    right: 8px;
    cursor: pointer;
    outline: none;
    padding: 0;
    transition: color var(--time-trasform) var(--timing-function);
}

.close-button-icon{
    fill: currentColor;
}

.madal-close-button:hover, .madal-close-button:focus{
    color: var(--color-brand);
}